<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let curso of cursos"
        [colspan]="1"
        [rowspan]="2"
        >

      <mat-card class="example-card">



        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
           <mat-card-subtitle>{{curso.nombre}} </mat-card-subtitle>
          <!--<mat-card-subtitle>Duracion : {{curso.duracion}} videos </mat-card-subtitle>-->
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
          <mat-card-actions>
              <button mat-button (click)="showCurso(curso)">Ver</button>
              <!--<button mat-button>Compartir</button>-->
            </mat-card-actions>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>
