<div class="example-container">
  <mat-toolbar color="warning" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <h1 class="example-app-name">Taller de Sistemas</h1>
    <span class="example-spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item >
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <button mat-menu-item (click)="sidenav.opened=false"> 
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="side" sytle="width:200px">
      <!--(click)="sidenav.toggle()"-->
      <button mat-menu-item *ngFor="let d of contenidos" routerLink="/video_class/{{d.id}}" style="cursor: pointer">
        <mat-icon>play_arrow</mat-icon>
        <span>{{d.descripcion}}</span>
      </button> 
    </mat-sidenav>
    <!--<mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>    -->
  </mat-sidenav-container> 
    <div><!---<vg-player (onPlayerReady)="onPlayerReady($event)">-->
      <vg-player>
        <vg-controls>    
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
      
            <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>
      
            <vg-scrub-bar style="pointer-events: none;">
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
      
            <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>
      
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
      
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
      
        <video #media
            [vgMedia]="media"
            [src]="currentItem.src"
            id="singleVideo"
            preload="auto"
            crossorigin>      
      </video>
      <!---<vg-player (onPlayerReady)="onPlayerReady($event)">-->
      
      <ul>
        <li *ngFor="let item of playset; let $index = index"
            (click)="onClickPlaylistItem(item, $index)"
            [class.selected]="item === currentItem">
            {{ item.title }}
        </li>
      </ul>
      </vg-player>
    </div>
  </div>
