.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;    
}
.example-sidenav-container {
    flex:1;
}
.example-spacer {
    flex:1 1 auto;
}
.iframe-container[_ngcontent-c20] {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

:host.is-standalone aside {
    display: none;
}

:host.is-standalone .player-container {
    padding: 0;
    margin: 0;
}

aside {
    background-color: #507EB3;
    height: 100%;
    position: fixed;
}

.logo {
    padding: 10px;
}

.menu {
    width: 250px;
    height: 100%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: sans-serif;
}

.menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.menu li.is-active,
.menu li:hover {
    background-color: #FFFFFF;
    color: #507EB3;
}

.player-container {
    width: 50%;
    height: 50%;
    margin-left: 300px;
    margin-right: 50px;
}

video {
    width: 100%;
    height: 100%;
}
