<div class="example-container">
<mat-toolbar color="warning" class="example-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">cerrar</mat-icon>
  </button>
  <h1 class="example-app-name">{{curso.nombre}}</h1>
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item >
      <mat-icon>account_box</mat-icon>
      <span>Mi Perfil</span>
    </button>
    <button mat-menu-item *ngFor="let d of recursos" (click)="goTo(d.url);" (click)="sidenav.opened=false" sytle="width:200px">
      <mat-icon>play_arrow</mat-icon>
      <span>{{d.titulo}}</span>
    </button>
  </mat-menu>

</mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav mode="side" sytle="width:200px">
          <img src="assets/logo.png" width="64">
          <button mat-menu-item *ngFor="let d of contenidos" (click)="sidenav.toggle()" (click)="click(d.id);" style="cursor: pointer">
            <mat-icon>play_arrow</mat-icon>
            <span>{{d.descripcion}}</span>
          </button>
        </mat-sidenav>
  <!---<mat-sidenav #sidenav mode="side" sytle="width:200px">

    <button mat-menu-item *ngFor="let d of contenidos" (click)="sidenav.toggle()" (click)="click(d.id);" style="cursor: pointer">
      <mat-icon>play_arrow</mat-icon>
      <span>{{d.descripcion}}</span>
    </button>
  </mat-sidenav>-->
  <vg-player>
    <!--
      <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>

          <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;">
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>

          <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>

          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
      </vg-controls>
-->
      <video #media
          [vgMedia]="media"
          [src]="currentItem.src"
          id="singleVideo"
          preload="auto"
          controls
          crossorigin>

    </video>
    <ul>
      <li *ngFor="let item of playset; let $index = index"
          (click)="onClickPlaylistItem(item, $index)"
          [class.selected]="item === currentItem">
          {{ item.title }}
      </li>
    </ul>
    </vg-player>

</mat-sidenav-container>

  </div>
