<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>403 -Acceso Denegado</title>
  
</head>
<body>
  <div class="cover">
    <h1>Acceso Denegado
      <small>Error 403</small>
    </h1>
    <p class="lead">¡{{usuario}} no tiene permisos para entrar !</p>
    <a routerLink="/videotest">Ir a Cursos</a>
  </div>
  
</body>
</html>