<div class="example-container" >
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="loginService.estadoLogeado()">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <h1 class="example-app-name" style="cursor: pointer" >Campus Econtinuum</h1>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item >
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <!--(click)="sidenav.opened=false"-->
      <button mat-menu-item (click)="sidenav.close()" (click)="loginService.cerrarSesion()" >
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" sytle="width:900px!important"  >

    <mat-sidenav #sidenav mode="side" >

      <img src="assets/logo.png" width="100%" >
      <button mat-menu-item (click)=home() (click)="sidenav.close()" style="cursor: pointer">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item *ngFor="let d of menus" (click)="sidenav.toggle()" routerLink="{{d.url}}" style="cursor: pointer">
        <mat-icon>{{d.icono}}</mat-icon>
        <span>{{d.nombre}}</span>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <router-outlet name="classroom"></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
