
<!---<vg-player (onPlayerReady)="onPlayerReady($event)">-->
<vg-player>
  <vg-controls>    
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>

      <vg-scrub-bar style="pointer-events: none;">
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>

      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video #media
      [vgMedia]="media"
      [src]="currentItem.src"
      id="singleVideo"
      preload="auto"
      crossorigin>      
</video>
<!---<vg-player (onPlayerReady)="onPlayerReady($event)">-->

<ul>
  <li *ngFor="let item of playset; let $index = index"
      (click)="onClickPlaylistItem(item, $index)"
      [class.selected]="item === currentItem">
      {{ item.title }}
  </li>
</ul>
</vg-player>
