:host.is-standalone aside {
    display: none;
}

:host.is-standalone .player-container {
    padding: 0;
    margin: 0;
}

aside {
    background-color: #507EB3;
    height: 100%;
    position: fixed;
}

.logo {
    padding: 10px;
}

.menu {
    width: 250px;
    height: 100%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: sans-serif;
}

.menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.menu li.is-active,
.menu li:hover {
    background-color: #FFFFFF;
    color: #507EB3;
}

.player-container {
    width: 50%;
    height: 50%;
    margin-left: 300px;
    margin-right: 50px;
}

video {
    width: 100%;
    height: 100%;
}
